# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/

# Packaging
*.egg-info/
dist/
build/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Editor / OS
.vscode/
.DS_Store

# Idiosyncratic stuff
jonk/